.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.this{
  background-image: url("https://img.freepik.com/free-photo/vivid-blurred-colorful-wallpaper-background_58702-3798.jpg?w=1380&t=st=1692264792~exp=1692265392~hmac=92468281c66198825bc6f782d985fd498b338b35d616c290b9291bfd418b3c03");
}
.house{
  color: blue;
}
img{
  padding: 10px;
}
.buttons{
  padding: 10px 10px;
  margin:10px 20px;
}
.for{
  color:blue;
}
.pho{
  padding-right :50px;
}
.phto2{
  padding-right: 15px;
}
.button{
  color:blue;
}
.sai{
  width:48%;
  padding-right:30px;
  margin-right:20px;
  position: relative;
  right:15px;
}
.kiran{
  width: 48%;
  padding-right:20px;
  margin-right: 0px;
  position: relative;
  right: 10px;
}
.img{
  height:200px;
  width:200px;
  margin: 10px 10px;
}
.icons1{
  height:30px;
  width:30px;
  margin: 10px 15px;
}
.icons2{
  height:30px;
  width:30px;
  margin: 10px 15px;
}
.icons3{
  height:30px;
  width:30px;
  margin: 10px 15px;
}
.icons4{
  height:30px;
  width:30px;
  margin: 10px 15px;
}
ul{
  list-style: none;
}
.para{
  padding:5px 20px;
  margin:3px 20px;
  color:white;
}
.graph{
  padding-top: 40px;
  color: white;
}
.line{
  background-color: white;
}
.icons  {
  padding: 5px 20px;
  margin:5px 20px;
}
.last{
  padding:10px 20px;
  margin:5px 20px;
  color:white;
}
.dell{
  padding: 15px 0px;
  margin:15px 0px;
}
.dell1{
  padding:15px 0px;
  margin: 15px 0px;
}
.hp{
  padding-left:30px;
}
.my{
  padding:30px 0px;
}